{% extends 'emails/layout.html.twig' %}

{% block title %}[Concurso Andrología] Invitación como miembro del jurado{% endblock %}

{% block body %}
    <p>Hola,</p>
    <p>Tu código de registro es {{ passcode }}, regístrate en la siguiente URL: <a href="{{ url('registro') }}">{{ url('registro') }}</a></p>
{% endblock %}
