{% extends 'emails/layout.html.twig' %}

{% block title %}[Concurso Andrología] Invitación como miembro del jurado{% endblock %}

{% block body %}
    <p>Hola,</p>
    <p>Has sido invitado a participar en el Concurso de Casos Clínicos en Andrología 2015 en calidad de <strong>{{ rol }}</strong></p>
    <p>Accede a la zona restringida en <a href="{{ url('homepage') }}">la página web del concurso</a> utilizando tu email y el siguiente password: <strong>{{ password }}</strong> ¡No lo olvides!</p>
{% endblock %}
