{% extends 'emails/layout.html.twig' %}

{% block title %}[Concurso Andrología] Sólo te queda un día para hacer el test{% endblock %}

{% block body %}
    <p>Hola {{ nombre }}</p>
    <p>Han pasado 9 días desde que presentaste tu caso clínico, pero vemos que aún no has hecho el test. Mañana termina el período de 10 días para hacerlo. ¡Date prisa! <a href="{{ url('homepage') }}">{{ url('homepage') }}!</a></p>
{% endblock %}
