{% extends 'emails/layout.html.twig' %}

{% block title %}[Concurso Andrología] Te quedan 5 días para hacer el test{% endblock %}

{% block body %}
    <p>Hola {{ nombre }}</p>
    <p>Han pasado 5 días desde que presentaste tu caso clínico, pero vemos que aún no has hecho el test. ¡Date prisa! <a href="{{ url('homepage') }}">{{ url('homepage') }}</a></p>
{% endblock %}
