{% set disabled = caso.estado|default(0) == 1 or caso.estado|default(0) == 2 ? true : false %}
<script type="text/ng-template" id="case.html">
    <div ng-controller="caseController">
        <fieldset class="margin-top cloak" ng-disabled="model.saving || model.caseSended" ng-init="model.saving = '{{ disabled }}'">
            <form action="{{ path('residente_home') }}" method="post">
                <div class="form-group row" ng-class="{'has-error': error.descripcion}">
                    <label class="col-xs-2" for="titulo">Título</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="titulo" type="text" name="titulo" ng-model="model.caso.titulo" ng-init="model.caso.titulo = model.caso.titulo? model.caso.titulo: '{{ caso.titulo|default('') }}'"  />
                    </div>

                    <div ng-if="error.titulo" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.titulo" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.descripcion}">
                    <label class="col-xs-2 short-align" for="descripcion">Breve Descripción</label>
                    <div class="col-xs-8">
                        <input class="form-control"id="descripcion" type="text" name="descripcion" ng-model="model.caso.descripcion" ng-init="model.caso.descripcion = model.caso.descripcion? model.caso.descripcion: '{{ caso.descripcion|default('') }}'" />
                    </div>

                    <div ng-if="error.descripcion" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.descripcion" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.autores}">
                    <label class="col-xs-2" for="autores">Autores</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="autores" type="text" name="autores" ng-model="model.caso.autores" ng-init="model.caso.autores = model.caso.autores? model.caso.autores: '{{ caso.autores|default('') }}'" />
                    </div>

                    <div ng-if="error.autores" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.autores" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.hospital}">
                    <label class="col-xs-2" for="hospital">Hospital</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="hospital" type="text" name="hospital" ng-model="model.caso.hospital" ng-init="model.caso.hospital = model.caso.hospital? model.caso.hospital: '{{ caso.hospital|default('') }}'" />
                    </div>

                    <div ng-if="error.hospital" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.hospital" class="icon-ok"></span>
                </div>

                <div class="row">
                    <h3 class="col-xs-12 margin-bottom text-primary">Descripción del caso</h3>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.edad}">
                    <label class="col-xs-2" for="edad">Edad</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="edad" type="text" name="edad" ng-model="model.caso.edad" ng-init="model.caso.edad = model.caso.edad? model.caso.edad: '{{ caso.edad|default('') }}'" />
                    </div>

                    <div ng-if="error.edad" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.edad" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.clinica}">
                    <label class="col-xs-2" for="clinica">Clínica</label>
                    <div class="col-xs-8">
                        <input class="form-control" id="clinica" type="text" name="clinica" ng-model="model.caso.clinica" ng-init="model.caso.clinica = model.caso.clinica? model.caso.clinica: '{{ caso.clinica|default('') }}'" />
                    </div>

                    <div ng-if="error.clinica" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.clinica" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.exploraciones}">
                    <label class="col-xs-2" for="exploraciones">Exploraciones</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="exploraciones" name="exploraciones" ng-model="model.caso.exploraciones" rows="4" ng-init="model.caso.exploraciones = model.caso.exploraciones? model.caso.exploraciones: '{{ caso.exploraciones|default('') }}'"></textarea>
                    </div>

                    <div ng-if="error.exploraciones" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.exploraciones" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.diagnostico}">
                    <label class="col-xs-2" for="diagnostico">Diagnóstico Clínico</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="diagnostico" name="diagnostico" ng-model="model.caso.diagnostico" rows="4" ng-init="model.caso.diagnostico = model.caso.diagnostico? model.caso.diagnostico: '{{ caso.diagnostico|default('') }}'"></textarea>
                    </div>

                    <div ng-if="error.diagnostico" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.diagnostico" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.tratamiento}">
                    <label class="col-xs-2" for="tratamiento">Tratamiento</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="tratamiento" name="tratamiento" ng-model="model.caso.tratamiento" rows="4" ng-init="model.caso.tratamiento= model.caso.tratamiento? model.caso.tratamiento: '{{ caso.tratamiento|default('') }}'"></textarea>
                    </div>

                    <div ng-if="error.tratamiento" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.tratamiento" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.complicaciones}">
                    <label class="col-xs-2" for="complicaciones">Complicaciones</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="complicaciones" name="complicaciones" ng-model="model.caso.complicaciones" rows="4" ng-init="model.caso.complicaciones = model.caso.complicaciones? model.caso.complicaciones: '{{ caso.complicaciones|default('') }}'"></textarea>
                    </div>

                    <div ng-if="error.complicaciones" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.complicaciones" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.aspectos}">
                    <label class="col-xs-2" for="aspectos">Aspectos Relevantes</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="aspectos" name="aspectos" ng-model="model.caso.aspectos" rows="4" ng-init="model.caso.aspectos = model.caso.aspectos? model.caso.aspectos: '{{ caso.aspectosrelevantes|default('') }}'"></textarea>
                    </div>

                    <div ng-if="error.aspectos" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.aspectos" class="icon-ok"></span>
                </div>

                <div class="form-group row" ng-class="{'has-error': error.bibliografia}">
                    <label class="col-xs-2" for="bibliografia">Bibliografía</label>
                    <div class="col-xs-8">
                        <textarea class="form-control" id="bibliografia" name="bibliografia" ng-model="model.caso.bibliografia" rows="4" ng-init="model.caso.bibliografia = model.caso.bibliografia? model.caso.bibliografia: '{{ caso.bibliografia|default('') }}'"></textarea>
                    </div>

                    <div ng-if="error.bibliografia" class="col-xs-2 text-left">Este campo es requerido</div>
                    <span ng-if="success.bibliografia" class="icon-ok"></span>
                </div>

                {% if not disabled %}
                <div class="margin-top save-buttons" ng-if="!model.caseSended">
                    <div class="row">
                        <div class="form-group col-xs-10" ng-class="{'has-error': error.terms}">
                            <input class="pull-right" type="checkbox" id="terms" ng-model="model.caso.terms">
                            <label class="control-label pull-right margin-right" for="terms"><small>Estoy de acuerdo con las <a href="/bundles/app/pdf/bases-concurso.pdf" target="_bank">bases del concurso</a> y  la política <a href="/bundles/app/pdf/proteccion-datos.pdf" target="_blank">protección de datos</a></small></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-10">
                            <button class="btn btn-primary btn-rounded text-uppercase pull-right" ng-click="save($event)">guardar y enviar</button>
                            
                            <button class="btn btn-info btn-rounded text-uppercase pull-right" ng-click="saveDraft($event)">guardar borrador</button>
                        </div>
                    </div>
                </div>
                {% endif %}
            </form>
        </fieldset>

        <div class="modal fade" id="caseCompleted" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <h2 class="modal-title text-center text-primary" id="myModalLabel">GRACIAS</h4>
                        </div>
                        <div class="row">
                            <p class="col-xs-8 col-xs-offset-2 text-content text-center">Muchas gracias por participar con tu caso clínico!!! No olvides que debes cumplimentar el test de andrología en un máximo de 10 días para que tu inscripción sea correcta.</div>
                        </div>
                        <div class="row">
                            <button class="col-xs-3 col-xs-offset-3 btn btn-lg btn-primary margin-right cursor-pointer" type="button" ng-click="goTest()">HACER EL TEST</button>
                            <a href="{{ path('logout') }}"><button class="col-xs-3 btn btn-lg btn-default margin-left cursor-pointer" type="button" data-dismiss="modal">SALIR</button></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="draftSaved" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <h2 class="modal-title text-center text-primary" id="myModalLabel">Borrador guardado</h4>
                        </div>
                        <div class="row">
                            <p class="col-xs-8 col-xs-offset-2 text-content text-center">Tu borrador se ha guardado con éxito</div>
                        </div>
                        <div class="row">
                            <button class="col-xs-4 col-xs-offset-4 btn btn-lg btn-primary margin-right cursor-pointer" type="button" data-dismiss="modal">Aceptar</button>     
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
