<script type="text/ng-template" id="test.html">
    <fieldset ng-controller="testController" ng-dissabled="model.sendingTest">
        <ol class="list-unstyled test-questions">
            <li class="form-group">
                <strong class="margin-bottom-small">¿Cuál de estos factores no es de riesgo ante una disfunción eréctil?.</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[1]" type="radio" name="test1" id="test11" value="a">
                            <label class="control-label" for="test11">Hiperglucemia</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[1]" type="radio" name="test1" id="test12" value="b">
                            <label class="control-label" for="test12">Dislipemia</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[1]" type="radio" name="test1" id="test13" value="c">
                            <label class="control-label" for="test13">Hiperuricemia</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[1]" type="radio" name="test1" id="test14" value="d">
                            <label class="control-label" for="test14">Síndrome metabólico</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[1]" type="radio" name="test1" id="test15" value="e">
                            <label class="control-label" for="test15">Hipogonadismo</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">¿Cuál de estos tratamientos es de elección en primer lugar en la D.E.?.</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[2]" type="radio" name="test2" id="test21" value="a">
                            <label class="control-label" for="test21">Mecanismo de erección por vacío</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[2]" type="radio" name="test2" id="test22" value="b">
                            <label class="control-label" for="test22">Terapia psico-sexual</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[2]" type="radio" name="test2" id="test23" value="c">
                            <label class="control-label" for="test23">Inhibidores de la fosfodiesterasa-5</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[2]" type="radio" name="test2" id="test24" value="d">
                            <label class="control-label" for="test24">Testosterona</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[2]" type="radio" name="test2" id="test25" value="e">
                            <label class="control-label" for="test25">Depende del origen de la D.E.</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">¿Cuál de estas analíticas no se solicita de entrada ante una D.E.?</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[3]" type="radio" name="test3" id="test31" value="a">
                            <label class="control-label" for="test31">Glucemia en ayunas</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[3]" type="radio" name="test3" id="test32" value="b">
                            <label class="control-label" for="test32">Hemoglobina glicosilada</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[3]" type="radio" name="test3" id="test33" value="c">
                            <label class="control-label" for="test33">Perfil lipídico</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[3]" type="radio" name="test3" id="test34" value="d">
                            <label class="control-label" for="test34">Testosterona</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[3]" type="radio" name="test3" id="test35" value="e">
                            <label class="control-label" for="test35">Tiempo de protrombina</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">¿Cuál de estos elementos no tiene papel en el mecanismo intracelular en la erección?</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[4]" type="radio" name="test4" id="test41" value="a">
                            <label class="control-label" for="test41">PDE</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[4]" type="radio" name="test4" id="test42" value="b">
                            <label class="control-label" for="test42">GC (guanilato ciclasa)</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[4]" type="radio" name="test4" id="test43" value="c">
                            <label class="control-label" for="test43">ON (óxido nítrico)</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[4]" type="radio" name="test4" id="test44" value="d">
                            <label class="control-label" for="test44">cGMP</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[4]" type="radio" name="test4" id="test45" value="e">
                            <label class="control-label" for="test45">Ácido láctico</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">¿Qué es el Trimix?</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[5]" type="radio" name="test5" id="test51" value="a">
                            <label class="control-label" for="test51">Papaverina-Apomorfina-Dolantina</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[5]" type="radio" name="test5" id="test52" value="b">
                            <label class="control-label" for="test52">Papaverina-Fentolamina-Alprostadil</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[5]" type="radio" name="test5" id="test53" value="c">
                            <label class="control-label" for="test53">Fentolamina-Alprostadil-Carnitina</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[5]" type="radio" name="test5" id="test54" value="d">
                            <label class="control-label" for="test54">Alprostadil-Tramadol-Papaverina</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[5]" type="radio" name="test5" id="test55" value="e">
                            <label class="control-label" for="test55">Papaverina-Alprostadil-Lidocaina</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">¿Cuál es la prevalencia de disfunción eréctil en España, en varones entre 25 y 70 años, según el estudio EDEM?</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[6]" type="radio" name="test6" id="test61" value="a">
                            <label class="control-label" for="test61">60%</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[6]" type="radio" name="test6" id="test62" value="b">
                            <label class="control-label" for="test62">12%</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[6]" type="radio" name="test6" id="test63" value="c">
                            <label class="control-label" for="test63">5%</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[6]" type="radio" name="test6" id="test64" value="d">
                            <label class="control-label" for="test64">30%</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[6]" type="radio" name="test6" id="test65" value="e">
                            <label class="control-label" for="test65">80%</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">¿Cuál es el cuestionario más utilizado para la evaluación de la disfunción eréctil?</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[7]" type="radio" name="test7" id="test71" value="a">
                            <label class="control-label" for="test71">IPSS</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[7]" type="radio" name="test7" id="test72" value="b">
                            <label class="control-label" for="test72">SQUED</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[7]" type="radio" name="test7" id="test73" value="c">
                            <label class="control-label" for="test73">SPSS</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[7]" type="radio" name="test7" id="test74" value="d">
                            <label class="control-label" for="test74">IIEF</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[7]" type="radio" name="test7" id="test75" value="e">
                            <label class="control-label" for="test75">SQL</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">De las siguientes pruebas, una no ha demostrado su utilidad en el diagnóstico de la D.E.:</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[8]" type="radio" name="test8" id="test81" value="a">
                            <label class="control-label" for="test81">Registro de erecciones nocturnas</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[8]" type="radio" name="test8" id="test82" value="b">
                            <label class="control-label" for="test82">Anamnesis</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[8]" type="radio" name="test8" id="test83" value="c">
                            <label class="control-label" for="test83">Electromiografía cavernosa</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[8]" type="radio" name="test8" id="test84" value="d">
                            <label class="control-label" for="test84">ecoDoppler peneano</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[8]" type="radio" name="test8" id="test85" value="e">
                            <label class="control-label" for="test85">Determinación de testosterona</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">El sildenafilo es un inhibidor selectivo de fosfodiesterasa número…</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[9]" type="radio" name="test9" id="test91" value="a">
                            <label class="control-label" for="test91">6</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[9]" type="radio" name="test9" id="test92" value="b">
                            <label class="control-label" for="test92">12</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[9]" type="radio" name="test9" id="test93" value="c">
                            <label class="control-label" for="test93">1</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[9]" type="radio" name="test9" id="test94" value="d">
                            <label class="control-label" for="test94">5</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[9]" type="radio" name="test9" id="test95" value="e">
                            <label class="control-label" for="test95">10</div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="form-group">
                <strong class="margin-bottom-small">¿Con qué fármaco no deberíamos administrar conjuntamente sildenafilo?</strong>
                <div class="questions-container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question"  ng-model="model.test[10]" type="radio" name="test0" id="test01" value="a">
                            <label class="control-label" for="test01">Verapamilo</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[10]" type="radio" name="test0" id="test02" value="b">
                            <label class="control-label" for="test02">Amlodipino</lable>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[10]" type="radio" name="test0" id="test03" value="c">
                            <label class="control-label" for="test03">Dinitrato de isosorbide</label>
                        </div>

                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[10]" type="radio" name="test0" id="test04" value="d">
                            <label class="control-label" for="test04">Diltiazem</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <input class="pull-left question" ng-model="model.test[10]" type="radio" name="test0" id="test05" value="e">
                            <label class="control-label" for="test05">Clopidogrel</div>
                        </div>
                    </div>
                </div>
            </li>
        </ol>
        <div class="row margin-top save-buttons">
            <div class="col-xs-12">
                <button class="btn btn-primary btn-rounded text-uppercase pull-right" ng-click="sendTest($event)" ng-disabled="isComplet()">guardar y enviar</button>
            </div>
        </div>

        <div class="modal fade" id="testScore" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="row">
                            <h2 class="modal-title text-center text-primary" id="myModalLabel">Mucha suerte</h4>
                        </div>
                        <p class="col-xs-8 col-xs-offset-2 text-content text-center">Has completado tu test correctamente.<br>Publicaremos los 2 ganadores en la web.<br>Gracias</div>
                        <div class="row">
                            <button class="col-xs-4 col-xs-offset-4 btn btn-lg btn-primary" type="button" ng-click="goCase()">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

</script>
