{% extends 'layout.html.twig' %}

{% block javascripts %}
    {% javascripts output="js/resident"
        "bundles/app/js/resident/residentApp.js"
        "bundles/app/js/resident/residentController.js"
        "bundles/app/js/resident/caseController.js"
        "bundles/app/js/resident/testController.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="css/residente.css"
        "bundles/app/css/residente.less"
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    {% set disabled = caso.estado|default(0) == 1  or caso.estado|default(0) == 2 ? true : false %}
    {% set testDisabled = resultadoExamen or caso.estado|default(0) != 1 ? 'true' : 'false' %}
    <div id="residente" ng-app="residentApp">
        <div class="row ng-cloak" ng-controller="residentController">
            <div class="col-xs-8">
                <div class="col-xs-12 white-background left-container" ng-init="model">
                    <ol class="row page-list margin-top">
                        <li class="col-xs-6" ng-click="showInclude('case.html')"><strong>Formulario<br>caso clínico</strong></li>
                        <li class="col-xs-6" ng-click="showInclude('test.html')" ng-disabled="model.testDisabled" ng-init="model.testDisabled = {{  testDisabled }}"><strong>Test</strong></li>
                    </ol>

                    <div ng-include src="model.include"></div>

                </div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-12 white-background greetings">
                    <h4 class="text-info col-xs-6">Hola, <br>{{ residente.nombre }}</h4>
                    <div class="col-xs-6">
                        <a href="{{ path('logout') }}">
                            <button class="btn btn-info btn-rounded btn-sm margin-top-small text-uppercase">Salir</button>
                        </a>
                    </div>
                </div>
                
                <a href="/bundles/app/pdf/bases-concurso.pdf" target="_blank">
                    <button class="col-xs-12 btn btn-primary btn-lg text-uppercase margin-top">Bases del concurso</button>
                </a>

                <div class="col-xs-12 white-background margin-top">
                    <div class="row can-help">
                        <a href="{{ path('contact') }}">
                            <span class="icon-mail col-xs-4 text-primary"></span>
                            <p class="col-xs-8 text-primary text-uppercase">¿En qué podemos ayudarle?</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% include 'residentes/_case.html.twig' %}
        {% include 'residentes/_test.html.twig' %}
    </div>


{%  endblock %}
