{% extends 'layout.html.twig' %}

{% block body %}
    <div id="home" class="row">
        <div class="col-xs-12 col-sm-4 pull-right">
            <div class="col-xs-12 white-background">
                <h4 class="text-info margin-top-small text-uppercase">Entra</h4>

                <fieldset class="login">
                    <form action="{{ path('login_check') }}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="_username" id="login_user" placeholder="Email" value="{{ last_username }}"/>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" name="_password" id="login_pass" placeholder="Contraseña"/>
                        </div>
                        <div class="login-button">
                            {% if error %}
                                <span class="pull-left text-danger">Usuario o Contraseña<br> incorrecta</span>
                            {% endif %}
                            <button class="btn btn-info btn-sm text-uppercase pull-right margin-bottom-small">Entrar</button>
                            
                        </div>
                    </form>
                </fieldset>
            </div>

            <div class="hidden-xs">
                <a href="/bundles/app/pdf/bases-concurso.pdf" target="_blank">
                    <button class="col-xs-12 btn btn-primary btn-lg text-uppercase margin-top">Bases del concurso</button>
                </a>

                <div class="col-xs-12 white-background margin-top">
                    <div class="row can-help">
                        <a href="{{ path('contact') }}">
                            <span class="icon-mail col-xs-4 text-primary"></span>
                            <p class="col-xs-8 text-primary text-uppercase">¿En qué podemos ayudarle?</p>
                        </a>
                    </div>
                </div>


                <div class="col-xs-12 white-background margin-top">
                    <div class="row can-help">
                        <img src="/bundles/app/img/prolongacion.png" class="img-responsive margin-auto">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-8 pull-right">
            <div class="col-xs-12 white-background text-intro text-justify">
                <h1 class="text-uppercase">Concurso de <br><strong>casos clínicos <br>en andrología</strong><br>2015</h1>
                <p>Las investigaciones recientes hacen de la Andrología una de las especialidades más punteras  y donde se producen más avances en tratamientos médicos.</p>
                <p>Kern Pharma, con la colaboración de Fundación Puigvert, pretende incentivar el interés de los residentes de andrología españoles de 4º año respecto a los aspectos médicos de la especialidad sobre todo disfunción eréctil.</p>
                <p>Consulta las <a href="/bundles/app/pdf/bases-concurso.pdf" target="_blank">bases</a> y participa!!</p>
                <a href="{{ path('registro') }}">
                    <button class="btn btn-primary btn-rounded text-uppercase">participa</button>
                </a>
            </div>
        </div>

        <div class="visible-xs col-xs-12">
                <a href="/bundles/app/pdf/bases-concurso.pdf" target="_blank">
                    <button class="col-xs-12 btn btn-primary btn-lg text-uppercase margin-top">Bases del concurso</button>
                </a>

                <div class="col-xs-12 white-background margin-top">
                    <div class="row can-help">
                        <a href="{{ path('contact') }}">
                            <span class="icon-mail col-xs-4 text-primary"></span>
                            <p class="col-xs-8 text-primary text-uppercase">¿En qué podemos ayudarle?</p>
                        </a>
                    </div>
                </div>


                <div class="col-xs-12 white-background margin-top">
                    <div class="row can-help">
                        <img src="/bundles/app/img/prolongacion.png" class="img-responsive margin-auto">
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}

