<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Concurso de casos clínicos en andrología 2015</title>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58307374-1', 'auto');
          ga('send', 'pageview');

        </script>

        {% stylesheets output="css/layout.css"
            "bundles/app/css/_theme/bootstrap.less"
            "bundles/app/css/_theme/commons.less"
            "bundles/app/css/_theme/fonts/fontello.css"
            "bundles/app/css/_theme/variables.less"
            "bundles/app/css/home.less"
         %}
            <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
        {% endstylesheets %}

        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="header-background">
            <header class="container">
                <div class="pull-left">
                    <a href="http://www.kernpharma.com/">
                        <img src="/bundles/app/img/logo-kernpharma.png" alt="logo kernpharma">
                    </a>
                </div>

                <div class="pull-right">
                    <a href="http://www.fundacio-puigvert.es/">
                        <img src="/bundles/app/img/logo-fundacion-puigvert.png" alt="logo fundacion pugvert">
                    </a>
                </div>
            </header>

            <div class="banner">
            </div>
        </div>

        <div class="container container-body">
            {% block body %}{% endblock %}
        </div>

        <footer id="cookies" class="hide">
            <div class="container">
                <div class="row">
                    <p class="col-xs-8">Esta web utiliza cookies propias y de terceros para ofrecerle una mejor experiencia y servicio. Al navegar o utilizar nuestros servicios, acepta el uso que hacemos de ellas. Puede cambiar la configuración de cookies en cualquier momento.</p>
                    <div class="col-xs-4">
                        <button class="btn btn-primary btn-lg" id="acceptCookies">Aceptar</button>
                        <a href="/bundles/app/pdf/politica-cookies.pdf" target="_blank">
                            <button class="btn btn-info btn-lg">Más información</button>
                        </a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
    {% javascripts output="js/layout.js"
        "components/angular/angular.js"
        "components/angular-route/angular-route.js"
        "components/jquery/jquery.js"
        "components/bootstrap/js/modal.js"
        "bundles/fosjsrouting/js/router.js"
        "bundles/app/js/home/index.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
    {% block javascripts %}{% endblock %}
</html>
