{% extends 'layout.html.twig' %}

{% block javascripts %}
    {% javascripts output="js/register"
        "bundles/app/js/register/index.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="register" class="row ng-cloak" ng-app="registerApp">
        <div class="col-xs-8" ng-controller="registerController">
            <div class="col-xs-12 white-background text-intro text-justify">
                <h1>Formulario de <br> registro</h1>
                <fieldset>
                    <form class="form-horizontal" action="{{ path('registro') }}" method="post">
                        <div class="form-group row" ng-class="{'has-error': error.name}">
                            <label class="col-xs-2" for="nombre">Nombre</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.name" id="nombre" type="text" name="nombre" ng-init="model.name = '{{ last_nombre }}'" />
                            </div>

                            <div ng-if="error.name" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.name" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.surname}">
                            <label class="col-xs-2"  for="apellidos">Apellidos</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.surname" id="apellidos" type="text" name="apellidos" ng-init="model.surname = '{{ last_apellidos }}'" />
                            </div>

                            <div ng-if="error.surname" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.surname" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.email || ({{ error }} && '{{ error }}' != 'invalid_code'})">
                            <label class="col-xs-2" for="email">Email</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.email" id="email" type="email" name="email" />
                            </div>

                            <div ng-if="error.email" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.email" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.phone}">
                            <label class="col-xs-2" for="movil">T. Móvil</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.phone" id="movil" type="text" name="movil" ng-init="model.phone = '{{ last_movil }}'" />
                            </div>

                            <div ng-if="error.phone" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.phone" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.city}">
                            <label class="col-xs-2" for="ciudad">Ciudad</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.city" id="ciudad" type="text" name="ciudad" ng-init="model.city = '{{ last_ciudad }}'" />
                            </div>

                            <div ng-if="error.city" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.city" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.hospital}">
                            <label class="col-xs-2" for="hospital">Hospital</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.hospital" id="hospital" type="text" name="hospital" ng-init="model.hospital = '{{ last_hospital }}'" />
                            </div>

                            <div ng-if="error.hospital" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.hospital" class="icon-ok"></span>
                        </div>

                        <div class="form-group row">
                            <label class="col-xs-2" for="cargo">Cargo</label>
                            <div class="col-xs-8">
                                <select class="form-control"  ng-model="model.cargo" id="cargo" name="cargo">
                                    <option value="residente">Residente</option>
                                    <option value="andrologo" ng-selected="'{{ error }}' == 'invalid_code'">Andrólogo</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.codigo || '{{ error }}' == 'invalid_code'}" ng-if="model.cargo == 'andrologo' || '{{ error }}' == 'invalid_code'">
                            <label class="col-xs-2" for="codigo">Código</label>
                            <div class="col-xs-8">
                                <input class="form-control" type="text" name="codigo" id="codigo" ng-model="model.codigo" placeholder="Código">
                            </div>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.password}">
                            <label class="col-xs-2" for="password">Password</label>
                            <div class="col-xs-8">
                                <input class="form-control"  ng-model="model.password" id="password" type="password" name="password" ng-init="model.password = '{{ last_password }}'" />
                            </div>

                            <div ng-if="error.password" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.password" class="icon-ok"></span>
                        </div>

                        <div class="row" ng-if="{{ error }}">
                            <span class="col-xs-12 text-center text-danger">Este usuario esta en uso</span>
                        </div>

                        <div class="row margin-top">
                            <div class="col-xs-4 col-xs-offset-4 margin-top">
                                <input type="submit" class="margin-auto btn btn-primary btn-lg btn-rounded" value="Participa" ng-click="validateParameters($event)"/>
                            </div>
                        </div>
                    </form>
                </fieldset>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="col-xs-12 white-background">
                <h4 class="text-info margin-top-small text-uppercase">Entra</h4>

                <fieldset class="login">
                    <form action="{{ path('login_check') }}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="_username" id="login_user" placeholder="Email" value="{{ last_username }}"/>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" name="_password" id="login_pass" placeholder="Contraseña"/>
                        </div>
                        <button class="btn btn-info btn-sm text-uppercase pull-right margin-bottom-small">Entrar</button>
                    </form>
                </fieldset>
            </div>

            <a href="/bundles/app/pdf/bases-concurso.pdf" target="_blank">
                <button class="col-xs-12 btn btn-primary btn-lg text-uppercase margin-top">Bases del concurso</button>
            </a>

            <div class="col-xs-12 white-background margin-top">
                <div class="row can-help">
                    <a href="{{ path('contact') }}">
                        <span class="icon-mail col-xs-4 text-primary"></span>
                        <p class="col-xs-8 text-primary text-uppercase">¿En qué podemos ayudarle?</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}
