<script type="text/ng-template" id="home.html">
    <div class="row">
        <div class="margin-top col-xs-12">
            <h3 class="text-info">Users</h3>
            <div class="row">
                <ul class="list-unstyled  text-center">
                    <li class="col-xs-3">
                        <div class="admin-counter">{{ residentes }}</div>
                        <p class="margin-top">Residentes</p>
                    </li>
                    <li class="col-xs-3">
                        <div class="admin-counter">{{ andrologos | default(0)  }}</div>
                        <p class="margin-top">Andrologos</p>
                    </li>
                    <li class="col-xs-3">
                        <div class="admin-counter">{{ jurado | default(0) }}</div>
                        <p class="margin-top">Jurado</p>
                    </li>
                    <li class="col-xs-3">
                        <div class="admin-counter">{{ colaboradores | default(0) }}</div>
                        <p class="margin-top">Colaboradores</p>
                    </li>
                </ul>
            </div>

            <h3 class="text-info">Ranking</h3>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover">
                        <thead>
                            <tr class="text-info">
                                <th>Título caso</th>
                                <th>Nombre</th>
                                <th>Test</th>
                                <th>Andrologos</th>
                                <th>J</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in model.rankingList">
                                <td ng-bind="user.titulo_caso"></td>
                                <td ng-bind="user.nombre"></td>
                                <td ng-bind="user.nota_examen"></td>
                                {% verbatim %}
                                <td>{{user.nota_andrologos}} ({{user.votos}}Votos)</td>
                                {% endverbatim %}
                                <td ng-bind="user.nota_jurado"></td>
                                <td ng-bind="user.puntuacion"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
