<script type="text/ng-template" id="staflist.html">
    <div class="row">
        <div class="margin-top col-xs-12">
            <h3 class="text-info">Users</h3>
            <div class="row">
                <ul class="list-unstyled  staf-list text-center">
                    <li class="col-xs-3">
                        <button class="btn col-xs-12 btn-lg btn-primary" ng-click="viewTable('residentes')" ng-class="{active: model.active == 'residentes'}">Residentes</button>
                    </li>
                    <li class="col-xs-3">
                        <button class="btn col-xs-12 btn-lg btn-primary" ng-click="viewTable('andrologos')" ng-class="{active: model.active == 'andrologos'}">Andrologos</button>
                    </li>
                    <li class="col-xs-3">
                        <button class="btn col-xs-12 btn-lg btn-primary" ng-click="viewTable('jurado')" ng-class="{active: model.active == 'jurado'}">Jurado</button>
                    </li>
                    <li class="col-xs-3">
                        <button class="btn col-xs-12 btn-lg btn-primary" ng-click="viewTable('colaboradores')" ng-class="{active: model.active == 'colaboradores'}">Colaboradores</button>
                    </li>
                </ul>
            </div>

            <h3 class="text-info">Ranking</h3>
            <div class="row">
                <div class="col-xs-12">
                    <table class="table table-hover" ng-if="model.active == 'residentes'">
                        <thead>
                            <tr class="text-info">
                                <th>Título caso</th>
                                <th>Nombre</th>
                                <th>Test</th>
                                <th>Andrologos</th>
                                <th>J</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in model.rankingList">
                                <td ng-bind="user.titulo_caso"></td>
                                <td ng-bind="user.nombre"></td>
                                <td ng-bind="user.nota_examen"></td>
                                {% verbatim %}
                                <td>{{user.nota_andrologos}} ({{user.votos}}Votos)</td>
                                {% endverbatim %}
                                <td ng-bind="user.nota_jurado"></td>
                                <td ng-bind="user.puntuacion"></td>
                            </tr>
                        </tbody>
                    </table>

                    <table class="table table-hover" ng-if="model.active != 'residentes'">
                        <thead>
                            <tr class="text-info">
                                <th>Nombre</th>
                                <th>Fecha registro</th>
                                <th>Casos Votados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in model.rankingList">
                                <td ng-bind="user.nombre"></td>
                                <td ng-bind="user.fecha_registro | date: 'dd/MM/yyyy'"></td>
                                <td ng-bind="user.titulos.length"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</script>
