<script type="text/ng-template" id="view.html">
	<div>
		<h2 class="text-primary">Usuarios registrados:</h2>

		<div style="overflow: scroll; width: 100%; max-height: 400px;">
			<table>
				<thead>
					<tr>
						<th>Nombre</th>
						<th>Apellidos</th>
						<th>Correo</th>
						<th>Telefono</th>
						<th>Ciudad</th>
						<th>Hospital</th>
						<th>Registrado</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="user in model.logedUsers" ng-click="getCase(user.id)">
						<td ng-bind="user.nombre"></td>
						<td ng-bind="user.apellidos"></td>
						<td ng-bind="user.roles"></td>
						<td ng-bind="user.movil"></td>
						<td ng-bind="user.telefono"></td>
						<td ng-bind="user.ciudad"></td>
						<td ng-bind="user.hospital"></td>
						<td ng-bind="user.created_at | date: 'dd/MM/yyyy'"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div ng-if="model.caso">
		<h2 class="text-primary">Casos Clinicos:</h2>

		<table>
			<thead>
				<tr>
					<th>Campo</th>
					<th>Valor</th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="(key, value) in model.caso">
					<td ng-bind="key"></td>
					<td ng-bind="value"></td>
				</tr>
			</tbody>
		</table>			
	</div>
</script>