<script type="text/ng-template" id="work.html">
    <div id="work">
        <div>
            <h2 class="text-info">Work</h2>
            <div class="row">
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-lg" ng-click="close('registro')">Cierre participación</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-lg" ng-click="close('votacion_publica')">Cierre votacion pública</button>
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-primary btn-lg" ng-click="close('votacion_privada')">Cierre votación jurado</button>
                </div>
            </div>
        </div>
        <div class="margin-bottom row">
            <h2 class="text-primary col-xs-12">Añadir colaborador</h2>
            <div class="clear-fix col-xs-12">
                <label class="control-label" for="colaborator">Nuevo colaborador</label>
                <div class="form-group form-horizontal">
                    <div class="col-xs-8">
                        <input class="form-control" type="text" ng-model="model.colaborador" id="colaborator" placeholder="Email"/>
                    </div>
                    <button class="col-xs-4 btn btn-primary" ng-click="addUser('colaborador', model.colaborador)">Añadir</button>
                </div>
            </div>
        </div>

        <div class="margin-bottom row">
            <h2 class="text-primary col-xs-12">Añadir Juez</h2>
            <div class="clear-fix col-xs-12">
                <label for="juez" class="control-label">Nuevo juez</label>
                <div class="form-group form-horizontal">
                    <div class="col-xs-8">
                        <input class="form-control col-xs-8" ng-model="model.juez" type="text" id="juez" placeholder="Email"/>
                    </div>
                    <button class="col-xs-4 btn btn-primary" ng-click="addUser('juez', model.juez)">Añadir</button>
                </div>
            </div>
        </div>
    </div>
</script>
