{% extends 'layout.html.twig' %}

{% block javascripts %}
    {% javascripts output="js/admin"
        "bundles/app/js/admin/adminApp.js"
        "bundles/app/js/admin/toolsController.js"
        "bundles/app/js/admin/homeController.js"
        "bundles/app/js/admin/staflistController.js"
        "bundles/app/js/admin/workController.js"
        "bundles/app/js/admin/view.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="css/admin.css"
        "bundles/app/css/admin.less"
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="admin" ng-app="adminApp">
        <div class="row ng-cloak" ng-controller="adminController">
            <div class="col-xs-4">
                <div class="col-xs-12 white-background greetings">
                    <nav>
                        <ul class="list-unstyled">
                            <li>
                                <h3 class="text-primary">TOOLS</h3>
                            </li>
                            <li>
                                <a href="#home"><h3 class="text-info">HOME</h3></a>
                            </li>
                            <li>
                                <a href="#staflist"><h3 class="text-info">STAFFLIST</h3></a>
                            </li>
                            {% if (is_granted('ROLE_SUPER_ADMIN')) %}
                            <li>
                                <a href="#work"><h3 class="text-info">WORK</h3></a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    <div class="col-xs-12 margin-bottom">
                        <a href="{{ path('logout') }}">
                            <button class="btn btn-info btn-rounded btn-sm margin-top-small text-uppercase margin-auto">Salir</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-xs-8">
                <div class="col-xs-12 white-background left-container" ng-init="model">

                    <div ng-view></div>

                </div>
            </div>
        </div>

        {% include 'admin/_tools.html.twig' %}
        {% include 'admin/_home.html.twig' %}
        {% include "admin/_staflist.html.twig" %}
        {% include "admin/_work.html.twig" %}
        {% include "admin/_view.html.twig" %}
    </div>


{%  endblock %}
