@import "_theme/variables.less";

#admin {
    .admin-counter {
        background-color: rgba(178, 178, 178, 0.5);
        border-radius: 45px;
        color: @brand-primary;
        font-size: 34px;
        font-weight: bold;
        margin: auto;
        height: 90px;
        padding: 21px;
        width: 90px;
    }

    .staf-list {
        button {
            background-color: #eee;
            color: #333;
            padding: 13px 0;

            &.active {
                background-color: @brand-primary;
                color: #fff;
            }
        }
    }

    #work {
        .btn {
            padding: 15px 4px;
        }
    }
}
