@import "_theme/variables.less";

#andrologo {
	.left-container {
        padding: 15px 40px;
    }

    .greetings {
        padding: 10px 0;
    }

	ol.cases {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        margin-bottom: 20px;   

        & > li {
            counter-increment: li-counter;
            color: @gray;
            margin-bottom: 10px;
            
            strong {
                color: @brand-info;
            }

            .case-header > strong:before {
                color: @brand-primary;
                content: counter(li-counter) '.';
                margin-right: 10px;
                font-weight: bold;
            }

            .case-description {
            	margin-left: 18px;
            }

            .vote-row {
            	margin-left: 6px;

            	.icon-star {
            		color: @gray-light;
            		font-size: 22px;

            		&.active {
            			color: #FDE700;
            		}

            		&:hover {
            			color: #FDE700;
            		}
            	}

            	.btn {
            		border-radius: 0px;
            		width: 100px;

            		&.btn-primary {
                        background-color: @gray-light;
            			opacity: 0.4;

            			&.voted {
            				opacity: 1;
                            background-color: @brand-primary;
            			}
            		}
            	}
            }
        }
    }
}
