@import './_theme/variables.less';
#andrologo,
#residente,
#register,
#contact,
#admin,
#home {
    .text-intro {
        padding: 10px 35px 20px;

        h1 {
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            margin-bottom: 1.5em;
        }
    }

    .can-help {
        .icon-mail {
            font-size: 56px;
        }

        p {
            font-size: 15px;
            margin: 19px 0 0 -13px;
        }
    }

    .form-group {
        .icon-ok {
            font-size: 18px;
            color: @brand-primary;
        }
    }

    .login-button {
        .text-danger {
            font-size: 10px;
            margin-left: 14px;
            padding-bottom: 5px;
        }
    }
}

#contact {
    .big-icon {
        font-size: 70px;
    }
}
