@import "_theme/variables.less";

#residente {
    margin-bottom: 20px;

    .short-align {
        line-height: 12px;
    }
    
    .form-group > label {
        padding-top: 6px;
    }
    .save-buttons {
        .btn-rounded {
            margin-left: 20px;
            padding: 6px 10px;
        }
    }

    .left-container {
        padding: 15px;
    }

    ol.test-questions {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        margin-bottom: 20px;   

        & > li {
            counter-increment: li-counter;
            color: @gray;
            margin-bottom: 10px;
            
            strong {
                color: @brand-info;
                padding: 15px 0 10px 0;
            }

            .questions-container {
                padding: 10px 0 0 10px;

                .question {
                    margin: 3px 5px 5px 0;
                }

            }
  
            &:before {
                color: @brand-primary;
                content: counter(li-counter) '.';
                font-weight: bold;
            }
        }
    }

    ol.page-list {
        counter-reset: li; /* Initiate a counter */
        list-style: none; /* Remove default numbering */
        *list-style: decimal; /* Keep using default numbering for IE6/7 */
        margin-bottom: 20px;

        & > li {
            counter-increment: li-counter;
            cursor: pointer;
            font-size: 17px;

            height: 39px;
            line-height: 39px;

            &[disabled] {
                opacity: 0.3;
            }

            strong {
                display: inline-block;
                line-height: normal;
                margin-left: 10px;
                vertical-align: middle;
            }

            &::before {
                position: absolute;
                top: 0;
                left: -1em;
                width: 0.8em;
                padding: 7px 11px 0 0;

                font-size: 24px;
                line-height: 1;
                font-weight: bold;
                text-align: right;
                color: #fff;

                border-radius: 18px;
                width: 36px;
                height: 36px;
                background-color: @brand-info;
             
                content: counter(li-counter);
            }
        }
    }
}
