@import 'variables.less';
@import "../../../../../web/components/bootstrap/less/mixins.less";
@footer-height: 60px;

body {
    margin-bottom: @footer-height + 20;
    -webkit-font-smoothing:antialiased;

    .header-background {
        background-color: #fff;

        header {
            padding: 20px;
        }    

        .banner {
            background-image: url('/bundles/app/img/img-fons.png');
            background-position: center;
            min-height: 96px;
            width: 100%;
        }
    }

    .container-body {
        padding-top: 20px;
    }

    footer {
        background-color: rgba(115, 115, 115, 0.6);
        bottom:0;
        color: #fff;
        height: @footer-height;
        padding: 10px;
        position: fixed;
        width:100%;

        p {
            font-size: 10px;
        }

        .btn {
            padding: 10px 16px;
        }
    }

    .white-background {
        background-color: #fff;
    }

    .form-group {
        margin-bottom: 8px;
    }

    .form-control {
        .box-shadow(none);

        &:focus {
            .box-shadow(none);
        }
    }
}
@media (min-width: 1200px) {
    .banner {
        background-size: 100%;
    }
}

.modal {
    h2 {
        font-weight: bold;
        margin-top: 30px;
    }

    .text-content {
        font-size: 16px;
        margin-top: 40px;
    }

    .btn {
        margin-bottom: 40px;
        margin-top: 30px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.required-field {
    font-size: 10px;
    padding: 0;
}

.margin-auto {
    display: block;
    margin: auto;
}

.btn-rounded {
    border-radius: 13px;
    padding: 6px 30px;
}

.margin-top-small {
    margin-top: 8px;
}

.margin-top {
    margin-top: 15px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.margin-bottom-small {
    margin-bottom: 8px;
}

.margin-right {
    margin-right: 15px;
}

.margin-left {
    margin-left: 15px;
}
