{% extends 'layout.html.twig' %}

{% block javascripts %}
    {% javascripts output="js/contact"
        "bundles/app/js/contact/contact.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div id="contact" class="row ng-cloak" ng-app="contactApp" ng-controller="contactController">
        <div class="col-xs-8" >
            <div class="col-xs-12 white-background text-intro text-justify">
            	<div class="row">
                    <a href="{{ path('contact') }}">
                    	<span class="icon-mail big-icon pull-left text-primary"></span>
                    	<h1 class="text-primary pull-left text-uppercase">¿En que podemos <br>ayudarle?</h1>
                    </a>
            	</div>
                <fieldset>
                    <form class="form-horizontal" action="{{ path('registro') }}" method="post">
                        <div class="form-group row" ng-class="{'has-error': error.name}">
                            <label class="col-xs-2" for="nombre">Nombre</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.name" id="nombre" type="text" name="nombre"/>
                            </div>

                            <div ng-if="error.name" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.name" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.surname}">
                            <label class="col-xs-2"  for="apellidos">Apellidos</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.surname" id="apellidos" type="text" name="apellidos"/>
                            </div>

                            <div ng-if="error.surname" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.surname" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.email}">
                            <label class="col-xs-2" for="email">Email</label>
                            <div class="col-xs-8">
                                <input class="form-control" ng-model="model.email" id="email" type="email" name="email" />
                            </div>

                            <div ng-if="error.email" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.email" class="icon-ok"></span>
                        </div>

                        <div class="form-group row" ng-class="{'has-error': error.message}">
                            <label class="col-xs-2" for="message">Mensaje</label>
                            <div class="col-xs-8">
                                <textarea class="form-control" rows="5" ng-model="model.message" id="message" name="message"/></textarea>
                            </div>

                            <div ng-if="error.message" class="col-xs-2 required-field text-left">Este campo es requerido</div>
                            <span ng-if="success.message" class="icon-ok"></span>
                        </div>

                    </form>
                    <div class="row margin-top">
                        <div class="margin-top col-xs-10">
                            <button class="margin-auto pull-right btn btn-primary btn-lg btn-rounded" ng-click="validateParameters($event)" ng-disabled="model.sending"/>Enviar</button>
                            <a href="{{ path('homepage') }}"><button class="pull-right margin-right btn btn-info btn-lg btn-rounded">Volver</button></a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>

        <div class="col-xs-4">
            <div class="col-xs-12 white-background">
                <h4 class="text-info margin-top-small text-uppercase">Entra</h4>

                <fieldset class="login">
                    <form action="{{ path('login_check') }}" method="post">
                        <div class="form-group">
                            <input class="form-control" type="text" name="_username" id="login_user" placeholder="Email"/>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="password" name="_password" id="login_pass" placeholder="Contraseña"/>
                        </div>
                        <button class="btn btn-info btn-sm text-uppercase pull-right margin-bottom-small">Entrar</button>
                    </form>
                </fieldset>
            </div>

            <a href="/bundles/app/pdf/bases-concurso.pdf" target="_blank">
                <button class="col-xs-12 btn btn-primary btn-lg text-uppercase margin-top">Bases del concurso</button>
            </a>

            <div class="col-xs-12 white-background margin-top">
                <div class="row can-help">
                    <span class="icon-mail col-xs-4 text-primary"></span>
                    <p class="col-xs-8 text-primary text-uppercase">¿En qué podemos ayudarle?</p>
                </div>
            </div>
            <div class="modal fade" id="modal-contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	            <div class="modal-dialog">
	                <div class="modal-content">
	                    <div class="modal-body">
	                        <div class="row">
	                            <h2 class="modal-title text-center text-primary" id="myModalLabel">Consulta enviada</h4>
	                        </div>
	                        <div class="row">
	                            <p class="col-xs-8 col-xs-offset-2 text-content text-center">Tu consulta ha sido enviada satisfactoriamente, en breves nos pondremos en contacto</div>
	                        </div>
	                        <div class="row">
	                            <button class="col-xs-4 col-xs-offset-4 btn btn-lg btn-primary margin-right cursor-pointer" type="button" ng-click="goHome()">ACEPTAR</button>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
        </div>
    </div>
{%  endblock %}
