<script type="text/ng-template" id="case.html">
    <div ng-controller="caseController">
        <fieldset class="margin-top cloak" disabled>
            <div class="form-group row" ng-class="{'has-error': error.descripcion}">
                <label class="col-xs-3 text-info" for="titulo">Título</label>
                <div class="col-xs-9">
                    <p  ng-bind="model.caso.titulo"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.descripcion}">
                <label class="col-xs-3 text-info" for="descripcion">Breve Descripción</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.descripcion"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.hospital}">
                <label class="col-xs-3 text-info" for="hospital">Hospital</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.hospital"></p>
                </div>
            </div>

            <div class="row">
                <h3 class="col-xs-12 text-primary">Descripción del caso</h3>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.edad}">
                <label class="col-xs-3 text-info" for="edad">Edad</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.edad"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.clinica}">
                <label class="col-xs-3 text-info" for="clinica">Clínica</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.clinica"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.exploraciones}">
                <label class="col-xs-3 text-info" for="exploraciones">Exploraciones</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.exploraciones"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.diagnostico}">
                <label class="col-xs-3 text-info" for="diagnostico">Diagnóstico Clínico</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.diagnostico"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.tratamiento}">
                <label class="col-xs-3 text-info" for="tratamiento">Tratamiento</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.tratamiento"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.complicaciones}">
                <label class="col-xs-3 text-info" for="complicaciones">Complicaciones</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.complicaciones"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.aspectos}">
                <label class="col-xs-3 text-info" for="aspectos">Aspectos Relevantes</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.aspectos_relevantes"></p>
                </div>
            </div>

            <div class="form-group row" ng-class="{'has-error': error.bibliografia}">
                <label class="col-xs-3 text-info" for="bibliografia">Bibliografía</label>
                <div class="col-xs-9">
                    <p ng-bind="model.caso.bibliografia"></p>
                </div>
            </div>
        </fieldset>

        <div>
            <button class="btn btn-info btn-rounded pull-right" ng-click="backCaseList()">VOLVER</button>
        </div>
    </div>
</script>
