<script type="text/ng-template" id="caseList.html">
    <div ng-controller="caseListController">
        <div class="row">
            <h1 class="pull-left">Casos clínicos</h1>
            <div class="pull-right text-right">
                <small>Ordenar por:</small><br>
                <small><span class="cursor-pointer" ng-click="orderBy('date')">Fecha</span> | <span class="cursor-pointer" ng-click="orderBy('title')">Título</span> | <span class="cursor-pointer" ng-click="orderBy('fav')">Favorito</span></small>
            </div>
        </div>

        <ol class="row list-unstyled cases margin-top">
            <li class="col-xs-12 case margin-top" ng-repeat="case in model.cases">
                <div class="row case-header">
                    <strong class="col-xs-9" ng-bind="case.titulo"></strong>
                    <span class="col-xs-3 text-right" ng-bind="case.created_at | date: 'dd/MM/yyyy'"></span>
                </div>

                <p class="case-description" ng-bind="case.descripcion"></p>


                <div class="row vote-row">
                    <span class="pull-left">
                        <span class="icon-star" ng-class="{active: case.favourite}" ng-click="addFavorite(case)"></span> Marcar como favorito
                    </span>

                    {% if is_granted('ROLE_ANDROLOGO') or is_granted('ROLE_JURADO') %}
                    <button class="btn btn-primary margin-right pull-right" ng-class="{voted: case.voted}" ng-click="voteCase(case)">Votar</button>
                    {% endif %}
                    <button class="btn btn-info margin-right pull-right" ng-click="showCase(case)">Ver caso</button>
                </div>
            </li>
        </ol>

        <div class="row" ng-if="model.loadingData">
            <img class="margin-auto" src="/bundles/app/img/loader.gif"/>
        </div>

        <div class="modal fade" id="voteCase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" ng-if="model.modalStatus == 1">
                        <div class="modal-body">
                            <div class="row">
                                <h2 class="modal-title text-center text-primary" id="myModalLabel">¿ESTÁS SEGURO?</h2>
                            </div>
                            <div class="row">
                                <p class="col-xs-8 col-xs-offset-2 text-content text-center">Ya has votado dos casos clínicos</p>
                            </div>
                            <div class="row">
                                <button class="col-xs-3 col-xs-offset-3 btn btn-lg btn-primary margin-right cursor-pointer" type="button" ng-click="confirmVote()" ng-disabled="model.sending" data-dismiss="modal">CONFIRMAR</button>
                                <button class="col-xs-3 btn btn-lg btn-default margin-left cursor-pointer" type="button" data-dismiss="modal">VOLVER</button>

                            </div>
                        </div>
                    </div>

                    <div class="modal-content" ng-if="model.modalStatus == 2">
                        <div class="modal-body">
                            <div class="row">
                                <h2 class="modal-title text-center text-primary" id="myModalLabel">Aviso</h2>
                            </div>
                            <div class="row">
                                <p class="col-xs-8 col-xs-offset-2 text-content text-center">Ya has selecionado dos casos.<br> para cambiar tu voto deselecciona uno y vuelva a votar</p>
                            </div>
                            <div class="row">
                                <button class="col-xs-4 col-xs-offset-4 btn btn-lg btn-primary margin-right cursor-pointer" type="button"  data-dismiss="modal">CONFIRMAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
