{% extends 'layout.html.twig' %}

{% block javascripts %}
    {% javascripts output="js/andrologo"
        "bundles/app/js/andrologo/andrologoApp.js"
        "bundles/app/js/andrologo/andrologoController.js"
        "bundles/app/js/andrologo/caseListController.js"
        "bundles/app/js/andrologo/caseController.js"
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets output="css/andrologo.css"
        "bundles/app/css/andrologo.less"
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block body %}
    <div id="andrologo" ng-app="andrologoApp">
        <div class="ng-cloak" ng-controller="andrologoController">
            <div class="row">
                <div class="col-xs-8">
                    <div class="col-xs-12 white-background left-container">
                        <div ng-include="model.include"></div>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="col-xs-12 white-background greetings">
                        <h4 class="text-info col-xs-6">Hola, <br>{{ andrologo.nombre }}</h4>
                        <div class="col-xs-6">
                            <a href="{{ path('logout') }}">
                                <button class="btn btn-info btn-rounded btn-sm margin-top text-uppercase">Salir</button>
                            </a>
                        </div>
                    </div>

                    <a href="/bundles/app/pdf/bases-concurso.pdf" target="_blank">
                        <button class="col-xs-12 btn btn-primary btn-lg text-uppercase margin-top">Bases del concurso</button>
                    </a>

                    <div class="col-xs-12 white-background margin-top">
                        <div class="row can-help">
                            <a href="{{ path('contact') }}">
                                <span class="icon-mail col-xs-4 text-primary"></span>
                                <p class="col-xs-8 text-primary text-uppercase">¿En qué podemos ayudarle?</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% include 'andrologos/_casesList.html.twig' %}
        {% include "andrologos/_case.html.twig" %}
        </div>
    </div>


{%  endblock %}

